<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vanwei.tech.mapper.UserRoleMapper">

    <resultMap id="baseResultMap" type="com.vanwei.tech.entity.UserRole">
        <id column="user_id" property="userId"/>
        <result column="role_id" property="roleId"/>
    </resultMap>

</mapper>